HP Switches Bridge Aggregation Ports Issue

Hello guys,

I have some HP switches on my network, LLDP is active in all switches.
My topology is as follows:
My Core Network is two HP 5130 switch in IRF, the 5130 is a comware 7 switch. My edge switches are HP 1920 switches (Comware 5) and these are plugged in the core via bridge aggreagtion port (LACP Dynamic).
Well i configured the LLDP protocol in the members ports of the bridge aggregation as TxRx interface, both on edge switches and on core switch.
In the Neighbor Summary of the switches, the conncetion information appears correctly. 
As you can see on the print screen of edge switch neighbor Summary.
![edge_switch](https://user-images.githubusercontent.com/29125329/30064896-882a95a4-9229-11e7-95a1-3baca2db343e.JPG)

And core switch neighbor Summary.

![core_switch](https://user-images.githubusercontent.com/29125329/30065102-36fcec76-922a-11e7-9a17-f71356dbe20b.JPG)

both switches identify the connected ports, but in the fusioninventory, the aggregaton appears as a HUB connection. Print of core switch ports in GLPI.

![fusion_core_swicth](https://user-images.githubusercontent.com/29125329/30065527-8cba2b1e-922b-11e7-855b-979d0aeb208c.JPG)

the same occurs in the edge switch.
Only one port of the bridge aggregation appears as connected to a switch in the fusioninvetory and the bridge aggregation interface appears connected to a HUB.

I apologize for bad English. I'm waiting for an answer. Thank you




Same problem here. Works fine on some switch, but not for all.

When i'm in the same case than jonatangobbato, i've got my Management port containing like all the ARP table of the switch, and only few ports with information (often the one which leads to anonther switch), and all other are marked as connected but no information about the host behind the port.

(Sorry too for my english, i can do it in french if you prefer) 

And BTW, this is a great soft that you provide us! Thanks :)

same here on Huawei cloudengines/quidways and Cisco/linksys SG300



@jonatangobbato - is what's reported as connected to your ports accurate? (I'm seeing an Off-by-N issue and don't know if it's related to these hubs or not)

Yes, is reported accurate... The issue occurs on inter switch ports and bridge aggregations...

any solution to this problem?

the LACP code has been made for Cisco, perhaps it's a little different with Procurve. Can you post the XML content of the switch inventory ?

I suspect the problem is a broken SNMP dot3adAggTable return and/or the port indexes being different between the bridge table, ifindex, aggtable and vlan tables 

On some switch models (EG: Huawei S5700SI, but not S5700LI), I'm seeing incomplete dot3adAggTables (1.2.840.10006.300.43.1.2.1 and up are entirely missing, so the trunk ports exist, but not the list of slaves.)

In others, aggregated (slave) ports are not being removed from the 802.1D/Q bridge tables when they're pulled into a trunk/team - this is inconsistent across manufacturers - Cisco, HP, Huawei and Linksys all remove the bridgeport entries in some models but not in others.

In others, the RFC assumption that the port numbering in LLDP, Vlan  and other tables will be linked to the Bridge-MIB numbers is ignored (it's a SHOULD, not a MUST), with the indexes all being independent, which in turn means that you have to do at least 2 lookups to verify things and Fusion doesn't currently do that.

=======
        LldpPortNumber ::= TEXTUAL-CONVENTION
           DISPLAY-HINT "d"
           STATUS     current 
            DESCRIPTION
                    "Each port contained in the chassis (that is known   to the
                     LLDP agent) is uniquely identified by a port number.

                    A port number has no mandatory relationship to an
                     InterfaceIndex object (of the interfaces MIB, IETF  RFC 2863).

                    If the LLDP agent is a IEEE 802.1D, IEEE 802.1Q  bridge, the
                    LldpPortNumber will have the same value as the dot1dBasePort
                   object (defined in IETF RFC 1493) associated  corresponding
                   bridge port.  If the system hosting LLDP agent is  not an
                   IEEE 802.1D or an IEEE 802.1Q bridge, the  LldpPortNumber
                   will have the same value as the corresponding  interface's
                  InterfaceIndex object.

                  Port numbers should be in the range of 1 and 4096  since a
                  particular port is also represented by the  corresponding
                  port number bit in LldpPortList."

             SYNTAX      Integer32(1..4096)
=======

The RFC says these "SHOULD" be the same, but many programmers interpret "SHOULD" as "OPTIONAL" - I'm currently arguing this with Huawei R&D and pointing them at RFC2119, but it's going to be a long struggle. Thankfully Huawei EU management is backing me up on this.

The result of all this inconsistency is that you can't assume that devices do it exactly as the RFC says, even if they come from the same maker and you need to crosscheck _everything_.

Right now there appears to be an assumption in fusion that port indexes _will_ follow the RFC exactly and that the port numbering will start at 0/1 and that they'll be contiguous. This is not the case on any Huawei device - all the indexes are independent.

(Cisco CatOS gives different results to IOS, gives different results to their firewalls, etc and in some cases because different teams wrote different sections of code you can get conflicting results depending how you query an indvidual device, giving rise to the joke "IOS is almost but not quite like IOS"

Huawei has different teams working on different product lines so they tend to be internally consistent per-device, but you'll find different results across product ranges.)



Hello @ddurieux , I can send the xml, but I'm a layman. Can you send me the steps to export xml?
Thanks

@Stoatwblr, Can I do anything to help? i can sent the snmp walk for the HP 1920 Switch

@Stoatwblr, Here is the SNMP walk of the MIB .1.2.10006.300 from one of my 1920s HPs. On this switch, ports 1 and 2 are in aggregation. 
[SNMPWALK.txt](https://github.com/fusioninventory/fusioninventory-for-glpi/files/1402369/SNMPWALK.txt)


Hello guys,
Any solution for this? can i help with anything else?

Some Update for this issue?

I've added this following code ...
<pre>
glpi/plugins/fusioninventory/inc/inventorynetworkequipmentlib.class.php

      ### LINE 415
      if (strpos($pfNetworkPort->getValue('ifdescr'),'Aggregation') !== false) {
          return;
      }
</pre>

Hello,
I have the same issue on HP/Aruba 2530 family (24G, 24, 48) and a HP 5130 24 SFP+.
Do you have a solution because a lot of my equipements (computers, printers, servers) are not correctly connect.
I have LLDP on all switches.
Thanks for your great job.

As a note: 

The of dot3adAggTables breakage is fixed in the latest Huawei firmware. Several other minor fixes too (trunk devices no longer listed as ethernets they're either propvirtual or 802.3lag and trunk member ports are removed from the 802.1q bridge mib tables)

There is still a bunch of brokenness that fusion can't cope with though, including vlan and lldp issues.


Bill Fenner (SNMP RFC author) commented that the way they solved this for Netdisco (SNMP::info) was to use the value of lldpLocPortDesc to find the name of the port, and then inverts that value into an interface index.

Looking at a single shelf Huawei switch, that seems to hold:

ingle shelf unit, MSSL8K

IF-MIB::ifNumber.0 = INTEGER: 32
IF-MIB::ifIndex.1 = INTEGER: 1
IF-MIB::ifIndex.2 = INTEGER: 2
IF-MIB::ifIndex.3 = INTEGER: 3
IF-MIB::ifIndex.4 = INTEGER: 4
IF-MIB::ifIndex.6 = INTEGER: 6
IF-MIB::ifIndex.7 = INTEGER: 7
IF-MIB::ifIndex.8 = INTEGER: 8
IF-MIB::ifIndex.9 = INTEGER: 9
IF-MIB::ifIndex.10 = INTEGER: 10
IF-MIB::ifIndex.11 = INTEGER: 11
IF-MIB::ifIndex.12 = INTEGER: 12
IF-MIB::ifIndex.13 = INTEGER: 13
IF-MIB::ifIndex.14 = INTEGER: 14
IF-MIB::ifIndex.15 = INTEGER: 15
IF-MIB::ifIndex.16 = INTEGER: 16
IF-MIB::ifIndex.17 = INTEGER: 17
IF-MIB::ifIndex.18 = INTEGER: 18
IF-MIB::ifIndex.19 = INTEGER: 19
IF-MIB::ifIndex.20 = INTEGER: 20
IF-MIB::ifIndex.21 = INTEGER: 21
IF-MIB::ifIndex.22 = INTEGER: 22
IF-MIB::ifIndex.23 = INTEGER: 23
IF-MIB::ifIndex.24 = INTEGER: 24
IF-MIB::ifIndex.25 = INTEGER: 25
IF-MIB::ifIndex.26 = INTEGER: 26
IF-MIB::ifIndex.27 = INTEGER: 27
IF-MIB::ifIndex.28 = INTEGER: 28
IF-MIB::ifIndex.29 = INTEGER: 29
IF-MIB::ifIndex.30 = INTEGER: 30
IF-MIB::ifIndex.31 = INTEGER: 31
IF-MIB::ifIndex.33 = INTEGER: 33
IF-MIB::ifIndex.34 = INTEGER: 34

IF-MIB::ifDescr.1 = STRING: InLoopBack0
IF-MIB::ifDescr.2 = STRING: NULL0
IF-MIB::ifDescr.3 = STRING: Console9/0/0
IF-MIB::ifDescr.4 = STRING: MEth0/0/1
IF-MIB::ifDescr.6 = STRING: GigabitEthernet0/0/1
IF-MIB::ifDescr.7 = STRING: GigabitEthernet0/0/2
IF-MIB::ifDescr.8 = STRING: GigabitEthernet0/0/3
IF-MIB::ifDescr.9 = STRING: GigabitEthernet0/0/4
IF-MIB::ifDescr.10 = STRING: GigabitEthernet0/0/5
IF-MIB::ifDescr.11 = STRING: GigabitEthernet0/0/6
IF-MIB::ifDescr.12 = STRING: GigabitEthernet0/0/7
IF-MIB::ifDescr.13 = STRING: GigabitEthernet0/0/8
IF-MIB::ifDescr.14 = STRING: GigabitEthernet0/0/9
IF-MIB::ifDescr.15 = STRING: GigabitEthernet0/0/10
IF-MIB::ifDescr.16 = STRING: GigabitEthernet0/0/11
IF-MIB::ifDescr.17 = STRING: GigabitEthernet0/0/12
IF-MIB::ifDescr.18 = STRING: GigabitEthernet0/0/13
IF-MIB::ifDescr.19 = STRING: GigabitEthernet0/0/14
IF-MIB::ifDescr.20 = STRING: GigabitEthernet0/0/15
IF-MIB::ifDescr.21 = STRING: GigabitEthernet0/0/16
IF-MIB::ifDescr.22 = STRING: GigabitEthernet0/0/17
IF-MIB::ifDescr.23 = STRING: GigabitEthernet0/0/18
IF-MIB::ifDescr.24 = STRING: GigabitEthernet0/0/19
IF-MIB::ifDescr.25 = STRING: GigabitEthernet0/0/20
IF-MIB::ifDescr.26 = STRING: GigabitEthernet0/0/21
IF-MIB::ifDescr.27 = STRING: GigabitEthernet0/0/22
IF-MIB::ifDescr.28 = STRING: GigabitEthernet0/0/23
IF-MIB::ifDescr.29 = STRING: GigabitEthernet0/0/24
IF-MIB::ifDescr.30 = STRING: XGigabitEthernet0/1/1
IF-MIB::ifDescr.31 = STRING: XGigabitEthernet0/1/2
IF-MIB::ifDescr.33 = STRING: Vlanif642
IF-MIB::ifDescr.34 = STRING: Eth-Trunk0

IF-MIB::ifType.1 = INTEGER: softwareLoopback(24)
IF-MIB::ifType.2 = INTEGER: other(1)
IF-MIB::ifType.3 = INTEGER: other(1)
IF-MIB::ifType.4 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.6 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.7 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.8 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.9 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.10 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.11 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.12 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.13 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.14 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.15 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.16 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.17 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.18 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.19 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.20 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.21 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.22 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.23 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.24 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.25 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.26 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.27 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.28 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.29 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.30 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.31 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.33 = INTEGER: propVirtual(53)
IF-MIB::ifType.34 = INTEGER: ieee8023adLag(161)

IF-MIB::ifAlias.1 = STRING:
IF-MIB::ifAlias.2 = STRING:
IF-MIB::ifAlias.3 = STRING:
IF-MIB::ifAlias.4 = STRING:
IF-MIB::ifAlias.6 = STRING:
IF-MIB::ifAlias.7 = STRING: MA/15 WLAN
IF-MIB::ifAlias.8 = STRING: MW/33
IF-MIB::ifAlias.9 = STRING: MW/34
IF-MIB::ifAlias.10 = STRING: MW/36
IF-MIB::ifAlias.11 = STRING: MW/37
IF-MIB::ifAlias.12 = STRING: MA/05
IF-MIB::ifAlias.13 = STRING: MW/13
IF-MIB::ifAlias.14 = STRING: MA/06
IF-MIB::ifAlias.15 = STRING:
IF-MIB::ifAlias.16 = STRING: MA/07
IF-MIB::ifAlias.17 = STRING:
IF-MIB::ifAlias.18 = STRING: MA/08 WLAN
IF-MIB::ifAlias.19 = STRING: MW/17
IF-MIB::ifAlias.20 = STRING: MW/40 WLAN
IF-MIB::ifAlias.21 = STRING: MW/24
IF-MIB::ifAlias.22 = STRING: MW/20
IF-MIB::ifAlias.23 = STRING: MW/19
IF-MIB::ifAlias.24 = STRING: MW/27
IF-MIB::ifAlias.25 = STRING: MW/23
IF-MIB::ifAlias.26 = STRING: MW/28
IF-MIB::ifAlias.27 = STRING: MW/21
IF-MIB::ifAlias.28 = STRING: MW/29
IF-MIB::ifAlias.29 = STRING: MW/31
IF-MIB::ifAlias.30 = STRING: UPLINK/A
IF-MIB::ifAlias.31 = STRING: UPLINK/B
IF-MIB::ifAlias.33 = STRING: Management
IF-MIB::ifAlias.34 = STRING: UPLINK to MSSL8C

This part has an independent index and matches on lldpLocPortId (not lldpLocPortDesc) vs IFMIB IFdesc (although you could use lldpLocPortDesc/ifmib:ifalias as a crosscheck)

        lldpLocPortTable        TABLE   not-accessible  SEQUENCE OF     1.0.8802.1.1.2.1.3.7
                lldpLocPortEntry        ENTRY   not-accessible  LldpLocPortEntry        1.0.8802.1.1.2.1.3.7.1
                        lldpLocPortNum  TABULAR not-accessible  LldpPortNumber  1.0.8802.1.1.2.1.3.7.1.1
                        lldpLocPortIdSubtype    TABULAR read-only       LldpPortIdSubtype       1.0.8802.1.1.2.1.3.7.1.2
                        lldpLocPortId   TABULAR read-only       LldpPortId      1.0.8802.1.1.2.1.3.7.1.3
                        lldpLocPortDesc TABULAR read-only       SnmpAdminString ( 0..255 )      1.0.8802.1.1.2.1.3.7.1.4

iso.0.8802.1.1.2.1.3.7.1.2.1 = INTEGER: 5
iso.0.8802.1.1.2.1.3.7.1.2.2 = INTEGER: 5
iso.0.8802.1.1.2.1.3.7.1.2.3 = INTEGER: 5
iso.0.8802.1.1.2.1.3.7.1.2.4 = INTEGER: 5
iso.0.8802.1.1.2.1.3.7.1.2.5 = INTEGER: 5
iso.0.8802.1.1.2.1.3.7.1.2.6 = INTEGER: 5
iso.0.8802.1.1.2.1.3.7.1.2.7 = INTEGER: 5
iso.0.8802.1.1.2.1.3.7.1.2.8 = INTEGER: 5
iso.0.8802.1.1.2.1.3.7.1.2.9 = INTEGER: 5
iso.0.8802.1.1.2.1.3.7.1.2.10 = INTEGER: 5
iso.0.8802.1.1.2.1.3.7.1.2.11 = INTEGER: 5
iso.0.8802.1.1.2.1.3.7.1.2.12 = INTEGER: 5
iso.0.8802.1.1.2.1.3.7.1.2.13 = INTEGER: 5
iso.0.8802.1.1.2.1.3.7.1.2.14 = INTEGER: 5
iso.0.8802.1.1.2.1.3.7.1.2.15 = INTEGER: 5
iso.0.8802.1.1.2.1.3.7.1.2.16 = INTEGER: 5
iso.0.8802.1.1.2.1.3.7.1.2.17 = INTEGER: 5
iso.0.8802.1.1.2.1.3.7.1.2.18 = INTEGER: 5
iso.0.8802.1.1.2.1.3.7.1.2.19 = INTEGER: 5
iso.0.8802.1.1.2.1.3.7.1.2.20 = INTEGER: 5
iso.0.8802.1.1.2.1.3.7.1.2.21 = INTEGER: 5
iso.0.8802.1.1.2.1.3.7.1.2.22 = INTEGER: 5
iso.0.8802.1.1.2.1.3.7.1.2.23 = INTEGER: 5
iso.0.8802.1.1.2.1.3.7.1.2.24 = INTEGER: 5
iso.0.8802.1.1.2.1.3.7.1.2.25 = INTEGER: 5
iso.0.8802.1.1.2.1.3.7.1.2.26 = INTEGER: 5
iso.0.8802.1.1.2.1.3.7.1.2.901 = INTEGER: 5


Note the discrepency here between the index number and the IFMIB ifindex. This is where things break.

iso.0.8802.1.1.2.1.3.7.1.3.1 = STRING: "GigabitEthernet0/0/1"
iso.0.8802.1.1.2.1.3.7.1.3.2 = STRING: "GigabitEthernet0/0/2"
iso.0.8802.1.1.2.1.3.7.1.3.3 = STRING: "GigabitEthernet0/0/3"
iso.0.8802.1.1.2.1.3.7.1.3.4 = STRING: "GigabitEthernet0/0/4"
iso.0.8802.1.1.2.1.3.7.1.3.5 = STRING: "GigabitEthernet0/0/5"
iso.0.8802.1.1.2.1.3.7.1.3.6 = STRING: "GigabitEthernet0/0/6"
iso.0.8802.1.1.2.1.3.7.1.3.7 = STRING: "GigabitEthernet0/0/7"
iso.0.8802.1.1.2.1.3.7.1.3.8 = STRING: "GigabitEthernet0/0/8"
iso.0.8802.1.1.2.1.3.7.1.3.9 = STRING: "GigabitEthernet0/0/9"
iso.0.8802.1.1.2.1.3.7.1.3.10 = STRING: "GigabitEthernet0/0/10"
iso.0.8802.1.1.2.1.3.7.1.3.11 = STRING: "GigabitEthernet0/0/11"
iso.0.8802.1.1.2.1.3.7.1.3.12 = STRING: "GigabitEthernet0/0/12"
iso.0.8802.1.1.2.1.3.7.1.3.13 = STRING: "GigabitEthernet0/0/13"
iso.0.8802.1.1.2.1.3.7.1.3.14 = STRING: "GigabitEthernet0/0/14"
iso.0.8802.1.1.2.1.3.7.1.3.15 = STRING: "GigabitEthernet0/0/15"
iso.0.8802.1.1.2.1.3.7.1.3.16 = STRING: "GigabitEthernet0/0/16"
iso.0.8802.1.1.2.1.3.7.1.3.17 = STRING: "GigabitEthernet0/0/17"
iso.0.8802.1.1.2.1.3.7.1.3.18 = STRING: "GigabitEthernet0/0/18"
iso.0.8802.1.1.2.1.3.7.1.3.19 = STRING: "GigabitEthernet0/0/19"
iso.0.8802.1.1.2.1.3.7.1.3.20 = STRING: "GigabitEthernet0/0/20"
iso.0.8802.1.1.2.1.3.7.1.3.21 = STRING: "GigabitEthernet0/0/21"
iso.0.8802.1.1.2.1.3.7.1.3.22 = STRING: "GigabitEthernet0/0/22"
iso.0.8802.1.1.2.1.3.7.1.3.23 = STRING: "GigabitEthernet0/0/23"
iso.0.8802.1.1.2.1.3.7.1.3.24 = STRING: "GigabitEthernet0/0/24"
iso.0.8802.1.1.2.1.3.7.1.3.25 = STRING: "XGigabitEthernet0/1/1"
iso.0.8802.1.1.2.1.3.7.1.3.26 = STRING: "XGigabitEthernet0/1/2"
iso.0.8802.1.1.2.1.3.7.1.3.901 = STRING: "MEth0/0/1"


iso.0.8802.1.1.2.1.3.7.1.4.1 = STRING: "GigabitEthernet0/0/1"
iso.0.8802.1.1.2.1.3.7.1.4.2 = STRING: "MA/15 WLAN"
iso.0.8802.1.1.2.1.3.7.1.4.3 = STRING: "MW/33"
iso.0.8802.1.1.2.1.3.7.1.4.4 = STRING: "MW/34"
iso.0.8802.1.1.2.1.3.7.1.4.5 = STRING: "MW/36"
iso.0.8802.1.1.2.1.3.7.1.4.6 = STRING: "MW/37"
iso.0.8802.1.1.2.1.3.7.1.4.7 = STRING: "MA/05"
iso.0.8802.1.1.2.1.3.7.1.4.8 = STRING: "MW/13"
iso.0.8802.1.1.2.1.3.7.1.4.9 = STRING: "MA/06"
iso.0.8802.1.1.2.1.3.7.1.4.10 = STRING: "GigabitEthernet0/0/10"
iso.0.8802.1.1.2.1.3.7.1.4.11 = STRING: "MA/07"
iso.0.8802.1.1.2.1.3.7.1.4.12 = STRING: "GigabitEthernet0/0/12"
iso.0.8802.1.1.2.1.3.7.1.4.13 = STRING: "MA/08 WLAN"
iso.0.8802.1.1.2.1.3.7.1.4.14 = STRING: "MW/17"
iso.0.8802.1.1.2.1.3.7.1.4.15 = STRING: "MW/40 WLAN"
iso.0.8802.1.1.2.1.3.7.1.4.16 = STRING: "MW/24"
iso.0.8802.1.1.2.1.3.7.1.4.17 = STRING: "MW/20"
iso.0.8802.1.1.2.1.3.7.1.4.18 = STRING: "MW/19"
iso.0.8802.1.1.2.1.3.7.1.4.19 = STRING: "MW/27"
iso.0.8802.1.1.2.1.3.7.1.4.20 = STRING: "MW/23"
iso.0.8802.1.1.2.1.3.7.1.4.21 = STRING: "MW/28"
iso.0.8802.1.1.2.1.3.7.1.4.22 = STRING: "MW/21"
iso.0.8802.1.1.2.1.3.7.1.4.23 = STRING: "MW/29"
iso.0.8802.1.1.2.1.3.7.1.4.24 = STRING: "MW/31"
iso.0.8802.1.1.2.1.3.7.1.4.25 = STRING: "UPLINK/A"
iso.0.8802.1.1.2.1.3.7.1.4.26 = STRING: "UPLINK/B"
iso.0.8802.1.1.2.1.3.7.1.4.901 = STRING: "MEth0/0/1"


This is the bridge MIB, again, it's got a diffierent index, but this time there's a table linking back to the IFMIB ifindex.



        dot1dBaseNumPorts       SCALAR  read-only       Integer32       1.3.6.1.2.1.17.1.2.0
        dot1dBaseType   SCALAR  read-only       INTEGER 1.3.6.1.2.1.17.1.3.0
        dot1dBasePortTable      TABLE   not-accessible  SEQUENCE OF     1.3.6.1.2.1.17.1.4
        dot1dBasePortEntry      ENTRY   not-accessible  Dot1dBasePortEntry      1.3.6.1.2.1.17.1.4.1
        dot1dBasePort   TABULAR read-only       Integer32 ( 1..65535 )  1.3.6.1.2.1.17.1.4.1.1
        dot1dBasePortIfIndex    TABULAR read-only       InterfaceIndex  1.3.6.1.2.1.17.1.4.1.2
        dot1dBasePortCircuit    TABULAR read-only       OBJECT IDENTIFIER       1.3.6.1.2.1.17.1.4.1.3
        dot1dBasePortDelayExceededDiscards      TABULAR read-only       Counter32       1.3.6.1.2.1.17.1.4.1.4
        dot1dBasePortMtuExceededDiscards        TABULAR read-only       Counter32       1.3.6.1.2.1.17.1.4.1.5

SNMPv2-SMI::mib-2.17.1.2.0 = INTEGER: 27
SNMPv2-SMI::mib-2.17.1.3.0 = INTEGER: 2
SNMPv2-SMI::mib-2.17.1.4.1.1.1 = INTEGER: 1
SNMPv2-SMI::mib-2.17.1.4.1.1.2 = INTEGER: 2
SNMPv2-SMI::mib-2.17.1.4.1.1.3 = INTEGER: 3
SNMPv2-SMI::mib-2.17.1.4.1.1.4 = INTEGER: 4
SNMPv2-SMI::mib-2.17.1.4.1.1.5 = INTEGER: 5
SNMPv2-SMI::mib-2.17.1.4.1.1.6 = INTEGER: 6
SNMPv2-SMI::mib-2.17.1.4.1.1.7 = INTEGER: 7
SNMPv2-SMI::mib-2.17.1.4.1.1.8 = INTEGER: 8
SNMPv2-SMI::mib-2.17.1.4.1.1.9 = INTEGER: 9
SNMPv2-SMI::mib-2.17.1.4.1.1.10 = INTEGER: 10
SNMPv2-SMI::mib-2.17.1.4.1.1.11 = INTEGER: 11
SNMPv2-SMI::mib-2.17.1.4.1.1.12 = INTEGER: 12
SNMPv2-SMI::mib-2.17.1.4.1.1.13 = INTEGER: 13
SNMPv2-SMI::mib-2.17.1.4.1.1.14 = INTEGER: 14
SNMPv2-SMI::mib-2.17.1.4.1.1.15 = INTEGER: 15
SNMPv2-SMI::mib-2.17.1.4.1.1.16 = INTEGER: 16
SNMPv2-SMI::mib-2.17.1.4.1.1.17 = INTEGER: 17
SNMPv2-SMI::mib-2.17.1.4.1.1.18 = INTEGER: 18
SNMPv2-SMI::mib-2.17.1.4.1.1.19 = INTEGER: 19
SNMPv2-SMI::mib-2.17.1.4.1.1.20 = INTEGER: 20
SNMPv2-SMI::mib-2.17.1.4.1.1.21 = INTEGER: 21


This links the dot1d table back to the IFmib IFindex


SNMPv2-SMI::mib-2.17.1.4.1.2.1 = INTEGER: 34
SNMPv2-SMI::mib-2.17.1.4.1.2.2 = INTEGER: 6
SNMPv2-SMI::mib-2.17.1.4.1.2.3 = INTEGER: 7
SNMPv2-SMI::mib-2.17.1.4.1.2.4 = INTEGER: 8
SNMPv2-SMI::mib-2.17.1.4.1.2.5 = INTEGER: 9
SNMPv2-SMI::mib-2.17.1.4.1.2.6 = INTEGER: 10
SNMPv2-SMI::mib-2.17.1.4.1.2.7 = INTEGER: 11
SNMPv2-SMI::mib-2.17.1.4.1.2.8 = INTEGER: 12
SNMPv2-SMI::mib-2.17.1.4.1.2.9 = INTEGER: 13
SNMPv2-SMI::mib-2.17.1.4.1.2.10 = INTEGER: 14
SNMPv2-SMI::mib-2.17.1.4.1.2.11 = INTEGER: 15
SNMPv2-SMI::mib-2.17.1.4.1.2.12 = INTEGER: 16
SNMPv2-SMI::mib-2.17.1.4.1.2.13 = INTEGER: 17
SNMPv2-SMI::mib-2.17.1.4.1.2.14 = INTEGER: 18
SNMPv2-SMI::mib-2.17.1.4.1.2.15 = INTEGER: 19
SNMPv2-SMI::mib-2.17.1.4.1.2.16 = INTEGER: 20
SNMPv2-SMI::mib-2.17.1.4.1.2.17 = INTEGER: 21
SNMPv2-SMI::mib-2.17.1.4.1.2.18 = INTEGER: 22
SNMPv2-SMI::mib-2.17.1.4.1.2.19 = INTEGER: 23
SNMPv2-SMI::mib-2.17.1.4.1.2.20 = INTEGER: 24
SNMPv2-SMI::mib-2.17.1.4.1.2.21 = INTEGER: 25
SNMPv2-SMI::mib-2.17.1.4.1.2.22 = INTEGER: 26
SNMPv2-SMI::mib-2.17.1.4.1.2.23 = INTEGER: 27
SNMPv2-SMI::mib-2.17.1.4.1.2.24 = INTEGER: 28
SNMPv2-SMI::mib-2.17.1.4.1.2.25 = INTEGER: 29


Of course the other tables (LLDP and friends) are _supposed_ to be referring back to to this one.

There are two problems with that - firstly that vlanifs don't appear in the dot1d table and secondly that many device coders interpret "SHOULD" in an RFC as "optional" (it's not) and either don't bother or (worse), do their own thing. 

The reason this happens so much is lingustic:

The older RFCs are written in very informal 1970s american english and make a lot of assumptions, but three big ones stand out: - firstly that the reader is a 1970s american, secondly that they already have a fairly deep understanding of the subject, thirdly that they have easy physical access to the RFC author to discuss issues (in the 1970-80s this was usually the case). For the most part these older RFCs were hastily written in an attempt to document software and protocols which had never been documented up to that point, but which were were increasingly widely used, which adds to the confusion.

This has resulted in RFCs which are a bit "vague" in places and that leaves them open to assumptions. It's resulted in some "interesting" occurences, such as an employee of a device maker in Israel _screaming_ that his interpretation of the RFCs was exactly the way they were meant to be and the person telling him he was wrong was a complete imbecile - where the person telling him he was wrong happened to be the person who _wrote_ the RFC. After being told this, the Israeli developer actually became even more obnoxious, resulting in that company effectively being blacklisted by SNMP developers because they were impossible to work with.


Anyone who tells you that english is a static language has never studied it. Whilst it may not have the distinct dialects of french, I grew up speaking 4 distinct types and learned several more as part of my studies. They all have their own unique variations and there are a number of identical phrases or words which mean different things in different parts of the world as well as having different importance depending on the kind of sentence they are used in. 

Modern RFCs are written in Standard Communications English, but this is a recent development and when using anything older than ~1998 it is necessary to understand the history and politics that goes with the protocols.

(One example of how badly things can break is Usenet - someone decided that gatewaying into Fidonet would be a great idea, but stripped out messageIDs and broke large Usenet messages into 32768 byte fidonet messages. MessageIDs are used to detect and remove duplicates, so as soon as two gateways were setup, this resulted in a messaging loop which dumped several million messages into the system in a couple of days before the gateways got turned off - again, because someone decided that "SHOULD" == "optional")

adding to the above. That stack started as a single 24 port swiitch
vlanif642 was created
a trunk was created
vlanif 1 was deleted (that's the missing ifmib index 5)
3 shelves added
the 24 port shelf replaced with a 48 one
a new trunk created
the old trunk deleted (that's the missing ifmib index  32)

The significance of those missing ifmibs is "[Wed Apr 18 23:44:51 2018][error] invalid interface ID 32 while setting vlans, aborting"

There is no rule in the RFCs stating that interface indexes have to be in any particular order, or even than they have to be contiguous. (Fusioninventory is assuming that they are) It merely states that they have to be between 1-4096.

This is why I say that some of the problem is fusion brokenness, not RFC-noncompliance.

The relevance of my posts that Comware is 3com-sourced and Huawei inherited the "Comware way of doing things" when they were tied up with 3com in H3C days. |Of course 3com is now part of HP, which is why the problems are cropping up in HP equipment these days.

Other makers have also copied Comware philosophy (eg: Linksys, which became the low-end part cisco before the name was sold off. Linksys SNMP responses were widely copied by other low-end makers such as Belkin and ZyXel.

There is an ancient maxim of RFC-work and internet operations in general:
 "Be strict about what you emit and tolerant about what you receive"

I know it's more work to assume that what you receive may be broken but it does mean you don't have to maintain extensive exception lists - and at some point it's more work to maintain those exception lists than to just assume that things may be broken and always apply the slightly longer way of doing things. It means that processing may take longer when equipment is doing things the "correct" way, but it means that all equipment ends up being displayed correctly and accurate display is more important than fast processing.

The same problem on cisco:
SG200-50,SG200-26
And
HP 1920G

Hosts are linked with hub on agregation link.

It may be related #2384

I've added the following code in the plugins/fusioninventory/inc/inventorynetworkequipmentlib.class.php

      if (strpos($pfNetworkPort->getValue('ifdescr'),'Aggregation') !== false) {
          return;
      }


--


   function importConnectionMac($a_portconnection, $networkports_id) {

      $wire = new NetworkPort_NetworkPort();
      $networkPort = new NetworkPort();
      $pfNetworkPort = new PluginFusioninventoryNetworkPort();
      $pfUnmanaged = new PluginFusioninventoryUnmanaged();

      $a_snmpports = current($pfNetworkPort->find("`networkports_id`='".$networkports_id."'",
                                                  "",
                                                  1));
      $pfNetworkPort->getFromDB($a_snmpports['id']);

      $count = count($a_portconnection);
      $pfNetworkPort->loadNetworkport($networkports_id);

      if (strpos($pfNetworkPort->getValue('ifdescr'),'Aggregation') !== false) {
          return;
      }




________________________________
De: Wolvverine <notifications@github.com>
Enviado: quinta-feira, 4 de outubro de 2018 11:42
Para: fusioninventory/fusioninventory-for-glpi
Cc: abmteam; Comment
Assunto: Re: [fusioninventory/fusioninventory-for-glpi] HP Switches Bridge Aggregation Ports Issue (#2258)


It may be related #2384<https://github.com/fusioninventory/fusioninventory-for-glpi/issues/2384>

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/fusioninventory/fusioninventory-for-glpi/issues/2258#issuecomment-427045482>, or mute the thread<https://github.com/notifications/unsubscribe-auth/AH5Scoze63cDd2ZaS4TNH-k0Q22dX6Ieks5uhh5GgaJpZM4PNCD3>.


If you have a fix, please open a pull request (it is impossible to read what have changed here)

@trasher 

[Do-not-import-MAC-when-Port-is-Aggregate.patch.txt](https://github.com/fusioninventory/fusioninventory-for-glpi/files/2450090/Do-not-import-MAC-when-Port-is-Aggregate.patch.txt)


Proposed patch seems not ok; see comments on https://github.com/fusioninventory/fusioninventory-for-glpi/pull/2674

Problem is for ports with snmp iftype 161,135,53 and BVI (Cisco bridge virtual interface with iftype 6).

I have an idea which (so far) I've found works better:

Not using fusioninventory-netinventory - AT ALL - for switches, but to piggyback on the work of the netdisco group instead. They have several hundred developers actively working on things.

This is a first pass at generating FI4G (OCS) compatible output in netdisco. It's a nasty shell script but I'm sure someone can perlify it.

After installing netdisco from http://netdisco.org/, put the following scripts in your ~netdisco/bin directory.

I'm using linux. Your milage may vary

ifindex generator:

```
#!/bin/bash
#buildglpiindex.sh 

# (this makes a list of ifindex vs ifname, as ND currently doesn't store that - it will soon)
# Run this once a week or whenever you make major changes to your switch layouts

# in my localenv/deployment.yml config I have an explicit listing of switches to poll, 
# all in the pseudodomain "mars"

export HOSTLIST=`grep fed...mars localenv/deployment.yml | grep -v ^# | cut -f2 -d- | cut -f2 -d" " | cut -f1 -d.`

echo $HOSTLIST
for HOST in $HOSTLIST
do 
echo $HOST

# save the ifindex in ramdisk (or wherever you want, but if you change this, edit the other scripts)
 ./bin/netdisco-do show -d $HOST -e ifName &> /dev/shm/"$HOST".ifIndex

done
```

Loop through the list of switches, generating the xml
This has a little bit of paranoia to prevent clobbering files mid- fusionsuck.

```
!/bin/bash
# buildglpi.sh

export HOSTLIST=`grep fed...mars localenv/deployment.yml | grep -v ^# | cut -f2 -d- | cut -f2 -d" " | cut -f1 -d. | shuf`

echo $HOSTLIST

for HOST in $HOSTLIST
do 
 echo $HOST
 # safety precaution in case a host gets removed
 DNS=`host $HOST | grep -v NXDOMAIN | head -n1` 
 if [ -n  "$DNS" ] ; then
 
  if [ ! -f /data/ND2FUSION/$HOST.xml.new ]; then touch /data/ND2FUSION/$HOST.xml.new ; fi
  export OLDSUM=`md5sum /data/ND2FUSION/$HOST.xml.new | cut -f1 -d" "`
  export NEWSUM=`md5sum  /dev/shm/$HOST.xml.new | cut -f1 -d" "`
  if [ "$OLDSUM" != "$NEWSUM" ]; then
   /bin/mv  /dev/shm/$HOST.xml.new  /data/ND2FUSION/$HOST.xml.new
   if [ -f /data/ND2FUSION/$HOST.xml ]; then
     /bin/mv /data/ND2FUSION/$HOST.xml  /data/ND2FUSION/$HOST.xml.old
   fi
   /bin/ln  /data/ND2FUSION/$HOST.xml.new  /data/ND2FUSION/$HOST.xml
   /bin/rm -f /data/ND2FUSION/$HOST.xml.old
  else
   /bin/rm -f /dev/shm/$HOST.xml.new
  fi
 fi 
done
```

And the actual xml generator. It's a mess. Have fun.

```
##!/bin/bash
# netdisco_2_glpi.sh - make fusioninventory-compatible xml from netdisco data
# format is netdisco_2_glpi.sh target

export TARGET=$1".mars"
export IP=`host $TARGET | rev | cut -f1 -d" " | rev`

# pickup switch details known to ND. Get counters from RRD. 
# this keeps switch loading to minimum.

# Whatever you do, keep the echoed $STRING part inside the speechmarks or random badness 
# may happen (read the bash manual on string quoting and the differences between single, double 
# or no quotemarks.)

#"firmwares"
echo -e  "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>"
echo -e  "<REQUEST>"
echo -e  "  <CONTENT>"
echo -e  "    <DEVICE>"
echo -e  "      <FIRMWARES>"
echo -e  "        <DESCRIPTION>device firmware</DESCRIPTION>"
        export MANUFACTURER=`echo -e  "select vendor from device where device.ip = '$IP' " | psql -Aqt `
echo -e  "        <MANUFACTURER>$MANUFACTURER</MANUFACTURER>"
        export MODEL=`echo -e  "select model from device where device.ip = '$IP' " | psql -Aqt `
echo -e  "        <NAME>$MODEL</NAME>"
echo -e  "        <TYPE>device</TYPE>"
        export VERSION=`echo -e  "select os_ver from device where device.ip = '$IP' " | psql -Aqt `
echo -e  "        <VERSION>$VERSION</VERSION>"
echo -e  "      </FIRMWARES>"
echo -e  "      <INFO>"
        export COMMENTS=`echo -e  "select description from device where device.ip = '$IP' " | psql -Aqt `
echo -e  "        <COMMENTS>$COMMENTS</COMMENTS>"
        export CONTACT=`echo -e  "select contact from device where device.ip = '$IP' " | psql -Aqt `
echo -e  "        <CONTACT>$CONTACT</CONTACT>"
echo -e  "        <FIRMWARE>$VERSION</FIRMWARE>"
## this is the GLPI device ID - leave at zero and let GLPI find it.
echo -e  "        <ID>0</ID>"
echo -e  "        <IPS>"
  for DEVIP in `echo -e  "select alias from device_ip where device_ip.ip = '$IP' order by alias asc " | psql -Aqt `
  do
echo -e  "          <IP>$DEVIP</IP>"
  done
echo -e  "        </IPS>"
        export LOCATION=`echo -e  "select location from device where device.ip = '$IP' " | psql -Aqt `
echo -e  "        <LOCATION>${LOCATION//\&/_}</LOCATION>"
        export MAC=`echo -e  "select mac from device where device.ip = '$IP' " | psql -Aqt `
echo -e  "        <MAC>$MAC</MAC>"
echo -e  "        <MANUFACTURER>$MANUFACTURER</MANUFACTURER>"
echo -e  "        <MODEL>$MODEL</MODEL>"
        export NAME=`echo -e  "select name from device where device.ip = '$IP' " | psql -Aqt `
echo -e  "        <NAME>$NAME</NAME>"
        export SERIAL=`echo -e  "select serial from device where device.ip = '$IP' " | psql -Aqt `
echo -e  "        <SERIAL>$SERIAL</SERIAL>"

### NB: if Serial and/or MAC are blank, things WILL break horribly and randomly.
###       It also means your switch is not supported - YET - and you need to generate a snmpwalk
###        then ask for assistance.
###       Assistance is available on IRC freenode - #netdisco  or on http://netdisco.org/ 
###       (you need to register your handle thanks to spammer attacks)


echo -e  "        <TYPE>NETWORKING</TYPE>"
        export UPTIME="("`echo -e  "select uptime from device where ip= '$IP' " | psql -Aqt `") "`echo -e  "select justify_hours ((select uptime from device where ip= '$IP') / 100 * interval '1s' ) " | psql -Aqt `
echo -e  "        <UPTIME>$UPTIME</UPTIME>"
echo -e  "      </INFO>"

# some fields returned from some switches have spaces in them. This helps protect against that.
SAVEIFS=$IFS
IFS=$(echo -en "\n\b")
for PORT in `echo -e  "select port from device_port where device_port.ip = '$IP' " | psql -Aqt `
 do
 echo -e  "        <PORT>"
        export IFDESCR=`echo -e  "select descr from device_port where device_port.ip = '$IP' and device_port.port= '$PORT' " | psql -Aqt `
 echo -e  "          <IFDESCR>$IFDESCR</IFDESCR>"
        export IFALIAS=`echo -e  "select name from device_port where device_port.ip = '$IP' and device_port.port= '$PORT' " | psql -Aqt `
 echo -e  "          <IFALIAS>$IFALIAS</IFALIAS>"
        export IFNAME=`echo -e  "select port from device_port where device_port.ip = '$IP' and device_port.port= '$PORT' " | psql -Aqt `
 echo -e  "          <IFNAME>$IFNAME</IFNAME>"
####### NB PULLED FROM MTRG CONFIG FILE!
## not anymore, pulled from ND ifindex - more reliable.
#   We use the last line because SOME switches (*ahem*Cisco SG300*ahem*) 
#   return an ifindex entry for BOTH l2vlan (which they shouldn't) AND l3vlanif
#  AND GIVE THEM THE SAME NAME!!!! (This will be solved when ND stores ifindex internally)
# The l3vlanif is what we need to ennumerate, and always the highest ID.
        export IFNUMBER=`grep "   \"\?$PORT\"\?,\?$" /dev/shm/$1.ifIndex | cut -c5- | cut -f1 -d" " | tail -n1 `
echo -e  "          <IFNUMBER>$IFNUMBER</IFNUMBER>"
        export IFMTU=`echo -e  "select mtu from device_port where device_port.ip = '$IP' and device_port.port= '$PORT' " | psql -Aqt `
 echo -e  "          <IFMTU>$IFMTU</IFMTU>"
        export MAC=`echo -e  "select mac from device_port where device_port.ip = '$IP' and device_port.port= '$PORT' " | psql -Aqt `
 echo -e  "          <MAC>$MAC</MAC>"
        export IFLASTCHANGE=`echo -e  "select justify_hours ((select lastchange from device_port where ip= '$IP' and port='$PORT') / 100 * interval '1s' ) " | psql -Aqt `
 echo -e  "          <IFLASTCHANGE>$IFLASTCHANGE</IFLASTCHANGE>"
 if [[ `echo -e  "select count(alias) from device_ip where ip = '$IP' and port= '$PORT' " | psql -Aqt ` -ge 1 ]] ; then
        export PORTIP=`echo -e  "select alias from device_ip where ip = '$IP' and port= '$PORT' limit 1 " | psql -Aqt `
  echo -e  "          <IP>$PORTIP</IP>"
  echo -e  "          <IPS>"
   for PORTIP in `echo -e  "select alias from device_ip where ip = '$IP' and port= '$PORT' " | psql -Aqt `
   do
    echo -e  "             <IP>$PORTIP</IP>"
   done 
   echo -e  "          </IPS>"
 fi
        export IFSPEED=`echo -e  "select raw_speed from device_port_properties where ip = '$IP' and port= '$PORT' " | psql -Aqt `
 echo -e  "          <IFSPEED>$IFSPEED</IFSPEED>"
 # this seems to be ifadminstatus 1=up, 2=down, 3=testing
        export IFINTERNALSTATUS=`echo -e  "select up_admin from device_port where device_port.ip = '$IP' and device_port.port= '$PORT' " | psql -Aqt `
 case "$IFINTERNALSTATUS" in
  up)
   echo -e "          <IFINTERNALSTATUS>1</IFINTERNALSTATUS>"
   ;;
  down)
   echo -e "          <IFINTERNALSTATUS>2</IFINTERNALSTATUS>"
   ;;
  *)
 esac
 # this seems to be ifstatus 1=up, 2=down, 3=testing
        export IFINTERNALSTATUS=`echo -e  "select up_admin from device_port where device_port.ip = '$IP' and device_port.port= '$PORT' " | psql -Aqt `
 case "$IFINTERNALSTATUS" in
  up)
   echo -e "          <IFINTERNALSTATUS>1</IFINTERNALSTATUS>"
   ;;
  down)
   echo -e "          <IFINTERNALSTATUS>2</IFINTERNALSTATUS>"
   ;;
  *)
 esac
 # this seems to be ifstatus 1=up, 2=down, 3=testing
        export IFSTATUS=`echo -e  "select up from device_port where device_port.ip = '$IP' and device_port.port= '$PORT' " | psql -Aqt `
        case "$IFSTATUS" in
         up)
          echo -e "          <IFSTATUS>1</IFSTATUS>"
          ;;
         down)
          echo -e "          <IFSTATUS>2</IFSTATUS>"
          ;;
         *)
        esac
 # portduplex 1=unknown 2=half 3=full - only valid for ethernet ports
        export IFPORTDUPLEX=`echo -e  "select duplex from device_port where device_port.ip = '$IP' and device_port.port= '$PORT' " | psql -Aqt `
 case "$IFPORTDUPLEX" in
  half)
   echo -e "          <IFPORTDUPLEX>2</IFPORTDUPLEX>"
   ;;
  full)
   echo -e "          <IFPORTDUPLEX>2</IFPORTDUPLEX>"
   ;;
  *)
 esac
 # Huawei ports aren't always picked up properly. Force the issue
# Not that it matters 
# - FI4G has decided that Type 53 is a physical, not alias port.
#  Because some makers return 53 for real ports. Edit your plugin to fix.
 case "$IFDESCR" in
  NULL*)
    echo -e "          <IFTYPE>1</IFTYPE>"
    ;;
  InLoopBack*)
    echo -e "          <IFTYPE>24</IFTYPE>"
    ;;
  Vlanif*)
    echo -e "          <IFTYPE>53</IFTYPE>"
    ;;
  Eth-Trunk*)
    echo -e "          <IFTYPE>161</IFTYPE>"
    ;;
  Stack-Port*)
    echo -e "          <IFTYPE>161</IFTYPE>"
    ;;
  *)
  # iftype other=1, ethernetCsmacd=6, propPointToPointSerial=22, softwareLoopback=24
  # propVirtual=53, tunnel=131, l2vlan=135, ieee8023adLag=161, ifPwType=246, 
         export IFTYPE=`echo -e  "select type from device_port where device_port.ip = '$IP' and device_port.port= '$PORT' " | psql -Aqt `
  case "$IFTYPE" in
   other)
    echo -e "          <IFTYPE>1</IFTYPE>"
    ;;
   ethernetCsmacd)
    echo -e "          <IFTYPE>6</IFTYPE>"
    ;;
   propPointToPointSerial)
    echo -e "          <IFTYPE>22</IFTYPE>"
    ;;
   softwareLoopback)
    echo -e "          <IFTYPE>24</IFTYPE>"
    ;;
   propVirtual)
    echo -e "          <IFTYPE>53</IFTYPE>"
    ;;
   tunnel)
    echo -e "          <IFTYPE>131</IFTYPE>"
    ;;
   l2vlan)
    echo -e "          <IFTYPE>135</IFTYPE>"
    ;;
   ieee8023adLag)
    echo -e "          <IFTYPE>161</IFTYPE>"
    ;;
   ifPwType)
    echo -e "          <IFTYPE>246</IFTYPE>"
    ;;
   *)
  esac
 esac
# netdisco can't provide these, get them elsewhere (rrd?)
        export RRDPORT=${PORT,,}
        export RRDFILE=/var/lib/mrtg/"$1"/"$1"_"${RRDPORT//\//_}".rrd
 if [ -f "$RRDFILE" ]; then
        export RRDSTATS=`rrdtool lastupdate "$RRDFILE" | tail -n1`
  if [ -n "$RRDSTATS" ]; then
        export IFINOCTETS=`echo $RRDSTATS | rev | cut -f2 -d" " | rev`
   echo -e  "          <IFINOCTETS>$IFINOCTETS</IFINOCTETS>"
   echo -e  "          <IFINERRORS>0</IFINERRORS>"
        export IFOUTOCTETS=`echo $RRDSTATS | rev | cut -f1 -d" " | rev`
   echo -e  "          <IFOUTOCTETS>$IFOUTOCTETS</IFOUTOCTETS>"
   echo -e  "          <IFOUTERRORS>0</IFOUTERRORS>"
  fi
 fi
## TRUNK == "More than one VLAN"
        export TRUNK=`echo -e  "select count(vlan) from device_port_vlan where ip = '$IP' and port= '$PORT' " | psql -Aqt `
 if [[ $TRUNK -le 1 ]]; then 
  echo -e  "          <TRUNK>0</TRUNK>"
 elif [[ $TRUNK -ge 2 ]]; then 
  echo -e  "          <TRUNK>1</TRUNK>"
 fi
 if [[ $TRUNK -ge 1 ]]; then 
  echo -e  "         <VLANS>"
  for VLAN in `echo -e  "select vlan from device_port_vlan where ip = '$IP' and port= '$PORT' " | psql -Aqt `
  do
   echo -e  "            <VLAN>"
        export VLANNAME=`echo -e "select description from device_vlan where ip = '$IP' and vlan= '$VLAN' " | psql -Aqt `
### NB: ND has fields to mark if this is tagged, untagged and if it's PVID.
###        BUT, the XML spec for FI-Agent has no indication showing these
###        so all vlans end up being imported UNTAGGED!
   echo -e  "              <NAME>$VLANNAME</NAME>"
   echo -e  "              <NUMBER>$VLAN</NUMBER>"
   echo -e  "            </VLAN>"
  done
  echo -e  "           </VLANS>"
 fi
## Aggregate = LACP trunking, portchannel, ethernet bonding, various other names for combining ports for higher Bandwidth.
        export AGGREGATE=`echo -e  "select is_master from device_port where ip = '$IP' and port= '$PORT' " | psql -Aqt `
 if [ "$AGGREGATE" == "t" ]; then
  echo -e  "          <AGGREGATE>"
  for SLAVEPORT in `echo -e  "select port from device_port where ip = '$IP' and slave_of= '$PORT' " | psql -Aqt `
   do 
###### NB PULLED FROM MTRG CONFIG FILE!
        export SLAVENUMBER=`grep \'"$SLAVEPORT"\' /etc/mrtg/"$1"* | cut -f2 -d: | grep "^###\ Interface" | uniq | cut -f3 -d" " `
   echo -e  "            <PORT>$SLAVENUMBER</PORT>"
  done
  echo -e  "          </AGGREGATE>"
 fi
## What MACs are on the far side of the link?
        export CONNECTIONS=`echo -e  "select count(mac) from node where switch = '$IP' and port= '$PORT' and active= 't' " | psql -Aqt `
 if [[ $CONNECTIONS -ge 1 ]]; then
  echo -e  "        <CONNECTIONS>"
  echo -e  "           <CONNECTION>"
  for MAC in `echo -e  "select mac from node where switch = '$IP' and port= '$PORT' and active= 't' " | psql -Aqt `
   do
   echo -e  "             <MAC>$MAC</MAC>"
  done
  echo -e  "           </CONNECTION>"
  echo -e  "        </CONNECTIONS>"
 fi
## Is this a LLDP/CDP neighbour (fold this down to CDP for either)
        export CDP=`echo -e  "select count(remote_port) from device_port where ip = '$IP' and port= '$PORT' " | psql -Aqt `
 if [[ $CDP -ge 1 ]]; then
  echo -e  "        <CONNECTIONS>"
  echo -e  "            <CDP>1</CDP>"
  echo -e  "            <CONNECTION>"
        export SYSNAME=`echo -e  "select device.name from device join device_port on device.ip=device_port.remote_ip where device_port.ip='$IP' and device_port.port='$PORT' " | psql -Aqt `
  if [ -n "$SYSNAME" ]; then
   echo -e  "             <SYSNAME>$SYSNAME</SYSNAME>"
  fi
        export SYSMAC=`echo -e  "select remote_id from device_port where ip = '$IP' and port= '$PORT' " | psql -Aqt `
  echo -e  "              <SYSMAC>$SYSMAC</SYSMAC>"
        export SYSIP=`echo -e  "select remote_ip from device_port where ip = '$IP' and port= '$PORT' " | psql -Aqt `
  echo -e  "              <IP>$SYSIP</IP>"
        export SYSIFDESCR=`echo -e  "select remote_port from device_port where ip = '$IP' and port= '$PORT' " | psql -Aqt `
  if [ -n "$SYSIFDESCR" ]; then
   echo -e  "              <IFDESCR>$SYSIFDESCR</IFDESCR>"
  fi
        export REMHOST=`host $SYSIP | grep -v NXDOMAIN | rev | cut -f1 -d" " | rev | cut -f1 -d.`
#not every device has a hostname and or is in MRTG (WAPS and non-switches)
  if [ -n "$REMHOST" ]; then
   if [ `ls -1 //etc/mrtg/"$REMHOST"* 2>/dev/null | wc -l ` -gt 0 ]; then
####### NB PULLED FROM MTRG CONFIG FILE! (or the ND ifindex generated previously)
        export SYSIFNUMBER=`grep "   \"\?$SYSIFDESCR\"\?,\?$" /dev/shm/"$REMHOST".ifIndex | rev | cut -f2- -d" " | rev | sed 's/[[:blank:]]//g' `
    echo -e  "              <IFNUMBER>$SYSIFNUMBER</IFNUMBER>"
   fi
  fi
#####################################################
#### PURE KLUDGE AND ONLY FOR WAP WORK AT MY SITE until I work out how to interrogate them!
        export WAPCHECK=`echo -e  "select remote_is_wap from device_port_properties where ip = '$IP' and port= '$PORT' " | psql -Aqt `
  if [ "$WAPCHECK" == "t" ]; then
   echo -e  "              <IFNUMBER>1</IFNUMBER>"
  fi
## same for IPphones - most have a switch and slave ports in them. 
## This is important if you don't want either device showing up as an unmanaged hubs
## with a cloud of other devices hanging off them.
       export PHONECHECK=`echo -e  "select remote_is_phone from device_port_properties where ip = '$IP' and port= '$PORT' " | psql -Aqt `
  if [ "$PHONECHECK" == "t" ]; then
   echo -e  "              <IFNUMBER>1</IFNUMBER>"
  fi

#####################################################
        export SYSDESCR=`echo -e  "select remote_type from device_port where ip = '$IP' and port= '$PORT' " | psql -Aqt `
  if [ -n "$SYSDESCR" ]; then
   echo -e  "              <SYSDESCR>$SYSDESCR</SYSDESCR>"
  fi
        export MAC=`echo -e  "select mac from node_ip where node_ip.ip='$SYSIP' " | psql -Aqt `
  echo -e  "              <MAC>$MAC</MAC>"
  echo -e  "            </CONNECTION>"
  echo -e  "        </CONNECTIONS>"
 fi
 echo -e  "        </PORT>"
done
IFS=$SAVEIFS
echo -e  "      </PORTS>"
echo -e  "    </DEVICE>"
echo -e  "    <MODULEVERSION>3.1</MODULEVERSION>"
echo -e  "    <PROCESSNUMBER>1</PROCESSNUMBER>"
echo -e  "  </CONTENT>"
echo -e  "  <DEVICEID>stoatie_hahgunehnaan_zed_zed_zed:plural_zed_alpha</DEVICEID>"
echo -e  "  <QUERY>SNMPQUERY</QUERY>"
echo -e  "</REQUEST>"

exit 0
```


The version 2.5 of the agent can help with this issue?